/* styles/themes/orpheus.css */
[data-theme="orpheus"] {
  --background: oklch(0.02 0.02 285);
  --foreground: oklch(1 0 0);

  --card: oklch(0.05 0.03 285);
  --card-foreground: oklch(1 0 0);

  --popover: oklch(0.05 0.03 285);
  --popover-foreground: oklch(1 0 0);

  --primary: oklch(0.61 0.22 285);
  --primary-foreground: oklch(1 0 0);

  --secondary: oklch(12.13% 0.027 275.84);
  --secondary-foreground: oklch(1 0 0);

  --accent: oklch(0.61 0.22 285);
  --accent-foreground: oklch(1 0 0);

  --muted: oklch(0.08 0.03 285);
  --muted-foreground: oklch(0.72 0.02 285);

  --border: oklch(0.18 0.04 285);
  --input: oklch(0.18 0.04 285);
  --ring: oklch(0.61 0.22 285);

  --destructive: oklch(0.58 0.25 27);
  --destructive-foreground: oklch(1 0 0);
}
